@model Kovo8.Models.TulpeModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TulpeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vardas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balsai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balsai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
