@model IEnumerable<Kovo8.Models.TulpeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vardas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balsai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balsai)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
